#app { height: 100% }
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  background-color: #212529;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 60vh;
  background-color: #212529;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 175%;
  height: 50vh;
}

.Heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}